<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of currentItems">
      <div  class="mdc-list mdc-list--two-line mdc-list--avatar-list" (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.category}} - {{item.amount}}</h2>
        <p>{{item.payee}}</p>
        <ion-note item-end *ngIf="item.notes">{{item.notes}}</ion-note>
      <!-- </button> -->
      </div>

      <!-- <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
         {{'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options> -->
    </ion-item>
  </ion-list>
</ion-content>